

body, html {
  margin: 0;
  padding: 0;
  height: 15000px;
}

html {
  height: 15000px;
  overflow-y: scroll;
  overflow-x: hidden;

}

body {
  height: 15000px;
}

#yellowBar {
  background-color: #fdfd63;
  height: 41px;
  width: 100%;
  padding-right: 10px;
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: flex-end; /* Horizontal alignment */
}

#blackBar {
  background-color: #121212 ;
  height: 41px;
  display: flex;
  align-items: center; /* Vertical axis alignment */
  justify-content: center
}

#blackBar::selection{
  background-color: yellow; /* Set the desired background color */
}


#featured {
  font-weight: 525;
  font-size: 14.1px;
  letter-spacing: 0.95px;
  position: absolute;
  left: 31.05%;
  transform: translateX(-31.05%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Programme Regular", serif;
  color: white;
  text-decoration: none;
}
#separatorOne {
  position: absolute;
  left: 35.675%;
  transform: translateX(-35.675%);
  color: white;
  font-weight: 500;
  font-size: 15px;
}
#separatorOne::selection{
  background-color: transparent;
}


#charts {
  font-weight: 525;
  font-size: 14.1px;
  letter-spacing: 0.95px;
  position: absolute;
  left: 38.75%;
  transform: translateX(-38.75%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Programme Regular", serif;
  color: white;
  text-decoration: none;
}
#separatorTwo {
  position: absolute;
  left: 42.5%;
  transform: translateX(-42.5%);
  color: white;
  font-weight: 500;
  font-size: 15px;
}
#separatorTwo::selection{
  background-color: transparent;
}

#videos {
  font-weight: 525;
  font-size: 14.1px;
  letter-spacing: 0.95px;
  position: absolute;
  left: 45.714%;
  transform: translateX(-45.714%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Programme Regular", serif;
  color: white;
  text-decoration: none;
}
#separatorThree {
  position: absolute;
  left: 49.15%;
  transform: translateX(-49.15%);
  color: white;
  font-weight: 500;
  font-size: 15px;
}
#separatorThree::selection{
  background-color: transparent;
}

#promoteYourMusic {
  font-weight: 525;
  font-size: 14.1px;
  letter-spacing: 0.95px;
  position: absolute;
  left: 55.9%;
  transform: translateX(-55.9%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Programme Regular", serif;
  color: white;
  text-decoration: none;
}

#separatorFour {
  position: absolute;
  left: 61.65%;
  transform: translateX(-61.65%);
  color: white;
  font-weight: 500;
  font-size: 15px;
}
#separatorFour::selection{
  background-color: transparent;
}


#facebookLinkImage {

  position: absolute;
  left: 150px;
  transform: translateX(150px);
  top: 7px;
  background: none;
  border: none;
  cursor: pointer;
  height: 1px;
  width: 1px;
}


#signUp {

  font-size: 78.1%;
  position: absolute;
  padding-top: 2px;
  right: 73.5px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Programme Regular", serif;
  letter-spacing: 0.77px;
}

#signIn {
  font-size: 78.1%;
  position: absolute;
  padding-top: 2px;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Programme Regular", serif;
  letter-spacing: 0.77px;
}

@font-face {font-family: "Programme Bold"; src: url("//db.onlinewebfonts.com/t/a4084c1b8de1174e1b0ba7dcaf5f0b02.eot"); src: url("//db.onlinewebfonts.com/t/a4084c1b8de1174e1b0ba7dcaf5f0b02.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a4084c1b8de1174e1b0ba7dcaf5f0b02.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a4084c1b8de1174e1b0ba7dcaf5f0b02.woff") format("woff"), url("//db.onlinewebfonts.com/t/a4084c1b8de1174e1b0ba7dcaf5f0b02.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a4084c1b8de1174e1b0ba7dcaf5f0b02.svg#Programme Bold") format("svg"); }
@font-face {font-family: "Programme Regular"; src: url("//db.onlinewebfonts.com/t/615ebd2bd72c443cdfe3991532f0df4f.eot"); src: url("//db.onlinewebfonts.com/t/615ebd2bd72c443cdfe3991532f0df4f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/615ebd2bd72c443cdfe3991532f0df4f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/615ebd2bd72c443cdfe3991532f0df4f.woff") format("woff"), url("//db.onlinewebfonts.com/t/615ebd2bd72c443cdfe3991532f0df4f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/615ebd2bd72c443cdfe3991532f0df4f.svg#Programme Regular") format("svg"); }
@font-face {font-family: "Programme Light"; src: url("//db.onlinewebfonts.com/t/a9119a625b812f862b623442195661ff.eot"); src: url("//db.onlinewebfonts.com/t/a9119a625b812f862b623442195661ff.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a9119a625b812f862b623442195661ff.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a9119a625b812f862b623442195661ff.woff") format("woff"), url("//db.onlinewebfonts.com/t/a9119a625b812f862b623442195661ff.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a9119a625b812f862b623442195661ff.svg#Programme Light") format("svg"); }
/*  height="151" width="837"   5.583333*/


#searchBar {
  font-family: "Programme Regular", serif;
  font-weight: 525;
  font-size: 16px;
  width: 215px;
  color: black;
  position: absolute;
  top: 5px;
  left: 7px;
  height: 28px;
  border: none;
  outline: none;
}

#searchBar::placeholder{
  color: black;
  padding-left: 1px;
}
#searchBar:focus::placeholder{
  color: #8b8989;
}

#searchButton{
  position: absolute;
  left: 98px;
  transform: translateX(98px);
  top: 7px;
  background: none;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
#searchButton::selection{
  background-color: transparent;
}
#magnifyOne::selection{
  background-color: transparent;
}
#magnifyTwo::selection{
  background-color: transparent;
}




#geniusLogoImage {
  height: 22.48px;
  width: 128.5px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
#geniusLogoImage::selection{
  background-color: transparent; /* Set the desired background color */

}

#containerOneMain {
  outline: red dashed 1px;
  font-family: "Programme Light", serif;
  font-size: 38px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  height: 10000px;
  word-break: break-word;
  width: 80%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 1185px;

}




#newsLineOne{
  outline: green dotted 2px;
  font-family: "Programme Regular", serif;
  line-height: 12px;
  font-size: 12px;
  top: 4px;
  width: 38.6225%;
  padding-top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  position: absolute;
  left: -0.1%;
  transform: translateX(-0);
  letter-spacing: 0.825px;
}

#newsBlackBar{
  background-color: black;
  height: 2px;
  width: 90.75%;
  position: absolute;
  top: 4px;
  left: 44px;
}

#textContainerOne {
  outline: blue dashed 1px;
  font-size: 36px;
  max-width: 750px;
  position: absolute;
  left: -1.25px;
  top: 32px;
  word-break: break-word;
  line-height: 40.45px;
  width: 38.6225%;
  background-color: white;
}

#hyperlinkHoverArea {
  outline: dotted chocolate 1px;
  top: 1px;
  height: 346px;
  width: 100%;
  left: 0;
  position: absolute;

}


#imageID1 {
  position: absolute;
  top: 3px;
  left: 43.75575%;
  height: 379px;
  width: 669px;
  cursor: pointer;
}





#headingOne {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;

}
#headingOne:hover{
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

#paragraphOne {
  outline: aqua dotted 1px;
  font-family: "Programme Light", serif;
  font-size: 16px;
  line-height: 18px;
  margin-top: 3px;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  position: absolute;
  top: 104.5%;

}
#hyperlinkOne{
  text-decoration: none;
  color: black;
}


#mainImageName {
  outline: dotted black 1px;
  color: black;
  font-size: 12.45px;
  margin-top: 5px;
  position: absolute;
  top: 137.5%;
  left: 0.05%;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  letter-spacing: -0.2px;
}

#mainImageDate {
  outline: dotted #999999 1px;
  color: #999999FF;
  font-size: 12px;
  margin-top: 5px;
  position: absolute;
  top: 137.5%;
  left: 22.2%;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  letter-spacing: -0.075px;
}



#threeSmallerArticles {
  outline: dashed deeppink 2px;
  position: absolute;
  left: 0;
  width: 874px;
  height: 400px;
  top: 419px;
}

#blackVerticalBarOne {
  background-color: black;
  height: 400px;
  border-left: 1.5px solid black;
  position: absolute;
  top: 2px;
  left: 32%;
}

#blackVerticalBarTwo {
  background-color: black;
  height: 400px;
  border-left: 1.5px solid black;
  position: absolute;
  top: 2px;
  left: 67.75%;
}


#newsLineMiniOne {
  outline: #000000 dotted 2px;
  font-family: "Programme Regular", serif;
  font-size: 11.5px;
  top: 0;
  width: 251px;
  padding-top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  position: absolute;
  left: -0.1%;
  transform: translateX(-0.15%);
  letter-spacing: 1.25px;
}

#newsMiniStoryOne {
  outline: #9679c8 dotted 2px;
  font-family: "Programme Light", serif;
  font-size: 23.5px;
  font-weight: 500;
  width: 251px;
  height: 373px;
  padding-top: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  position: absolute;
  left: -1.25px;
  transform: translateX(-0.1%);
  letter-spacing: 0.26px;
  line-height: 27px;
  text-decoration: none;
  color: black;

}

#newsMiniStoryOneAnchor:hover{
  text-decoration-color: black;
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

#newsMiniStoryOneAnchor:hover #newsMiniStoryOne {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

#miniStoryOneAuthor{
  outline: dotted #40d5ba 1px;
  color: black;
  font-size: 12.45px;
  margin-top: 5px;
  position: absolute;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  letter-spacing: -0.175px;
  top: 224px;
  padding-top: 0;
  left: 0;

}

#miniStoryOneDate{
  outline: dotted #640a78 1px;
  color: #999999FF;
  font-size: 12.45px;
  margin-top: 5px;
  position: absolute;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  letter-spacing: -0.2px;
  top: 224px;
  padding-top: 0;
  left: 29%;
  transform: translateX(-13.25%);
}

#miniStoryImageOne {
  position: absolute;
  top: 259px;
  left: -1px;
  height: 143px;
  width: 254px;
  cursor: pointer;
}


#newsLineMiniTwo {
  outline: #95ef95 dotted 2px;
  font-family: "Programme Regular", serif;
  font-size: 11.5px;
  top: 0;
  width: 251px;
  padding-top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  position: absolute;
  left: 35.5%;
  letter-spacing: 1.3px;
  color: black;
}

#newsMiniStoryTwo  {
  outline: lightsalmon 2px dotted;
  left: 35.5%;
  height: 375px;
  top: 0;
  font-family: "Programme Light", serif;
  font-size: 23.5px;
  font-weight: 500;
  width: 251px;
  padding-top: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  position: absolute;
  letter-spacing: 0.275px;
  line-height: 27px;
  color: black;
}

#newsMiniStoryTwoAnchor:hover{
  text-decoration-color: black;
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

#newsMiniStoryTwoAnchor:hover #newsMiniStoryTwo {
  text-decoration: underline;
  color: black;
  text-decoration-color: black;
  text-decoration-thickness: 1px;
}

#miniStoryImageTwo {
  position: absolute;
  top: 259px;
  left: 0;
  height: 143px;
  width: 252px;
  cursor: pointer;
}

#miniStoryTwoAuthor {
  outline: dotted #40d5ba 1px;
  color: black;
  font-size: 12.45px;
  margin-top: 5px;
  position: absolute;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  letter-spacing: -0.175px;
  top: 224px;
  padding-top: 0;
  left: 0;
}

#miniStoryTwoDate {
  outline: dotted #640a78 1px;
  color: #999999FF;
  font-size: 12.45px;
  margin-top: 5px;
  position: absolute;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  letter-spacing: -0.2px;
  top: 224px;
  left: 40.25%;
  padding-top: 0;
}

#newsLineMiniThree {
  outline: #857a0a dotted 2px;
  font-family: "Programme Regular", serif;
  font-size: 11.5px;
  top: 0;
  width: 251px;
  padding-top: 0;
  padding-left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  position: absolute;
  right: 0;
  letter-spacing: 1.3px;
  color: black;
}

#newsMiniStoryThree  {
  outline: #4d46ff 2px dotted;
  right: 0;
  height: 375px;
  top: 0;
  font-family: "Programme Light", serif;
  font-size: 23.5px;
  font-weight: 500;
  width: 251px;
  padding-top: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  position: absolute;
  letter-spacing: 0.225px;
  line-height: 27px;
  color: black;
}


#newsMiniStoryThreeAnchor:hover{
  text-decoration-color: black;
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

#newsMiniStoryThreeAnchor:hover #newsMiniStoryThree {
  text-decoration: underline;
  color: black;
  text-decoration-color: black;
  text-decoration-thickness: 1px;
}

#miniStoryImageThree {
  position: absolute;
  top: 259px;
  right: 0;
  height: 143px;
  width: 252px;
  cursor: pointer;
}

#miniStoryThreeAuthor {
  outline: dotted #40d5ba 1px;
  color: black;
  font-size: 12.45px;
  margin-top: 5px;
  position: absolute;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  letter-spacing: -0.175px;
  top: 224px;
  padding-top: 0;
  left: 0;

}

#miniStoryThreeDate {
  outline: dotted #640a78 1px;
  color: #999999FF;
  font-size: 12.45px;
  margin-top: 5px;
  position: absolute;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  letter-spacing: -0.2px;
  top: 224px;
  left: 40.85%;
  padding-top: 0;
}

#largeCharts {
  outline: #640a78 1px dotted;
  font-family: "Programme Bold", serif;
  left: -2.5px;
  position: absolute;
  top: 882px;
  width: 311px;
  height: 96px;
  font-size: 81.2px;
  padding: 0;
  margin: 0;
  letter-spacing: 1.2px;
}

#genreFilter {
  position: absolute;
  top: 882px;
}

#typeFilter {
  position: absolute;
  top: 862px;
}

#timeFilter  {
  position: absolute;
  top: 902px;
}

#filteredList {
  outline: 5px pink dotted;
  position: absolute;
  top: 1009px;
  width: 100%;
  height: 925px;
  left: 0;
}

#areaCodes {
  font-family: "Programme Regular", serif;
  outline: blue 0.5px dotted;
  position: absolute;
  top: 0;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  width: 83.75%;
  height: 78px;
  padding-left: 16.25%;
  padding-bottom: 2px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color 0.15s ease;
}
#areaCodes:hover {
  background-color: #e9e9e9;
}
#areaCodes img {
  outline: blue 0.5px dotted;
  position: absolute;
  top: 10px;
  left: 8.6%;
  height: 60px;
  width: 60px;
}

.item-link {
  color: black;
  text-decoration-color: black;
  text-decoration: none;
}


#cupidTW {
  font-family: "Programme Regular", serif;
  outline: blue 0.5px dotted;
  position: absolute;
  top: 77px;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  width: 83.75%;
  height: 78px;
  padding-left: 16.25%;
  padding-bottom: 2px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color 0.15s ease;
}
  #cupidTW:hover {
    background-color: #e9e9e9;
  }
  #cupidTW img {
    outline: blue 0.5px dotted;
    position: absolute;
    top: 10px;
    left: 8.6%;
    height: 60px;
    width: 60px;
  }


#allMyLife {
  font-family: "Programme Regular", serif;
  outline: blue 0.5px dotted;
  position: absolute;
  top: 154px;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  width: 83.75%;
  height: 78px;
  padding-left: 16.25%;
  padding-bottom: 2px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color 0.15s ease;
}
#allMyLife:hover {
  background-color: #e9e9e9;
}
#allMyLife img {
  outline: blue 0.5px dotted;
  position: absolute;
  top: 10px;
  left: 8.6%;
  height: 60px;
  width: 60px;
}

#kaarija {
  font-family: "Programme Regular", serif;
  outline: blue 0.5px dotted;
  position: absolute;
  top: 231px;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  width: 83.75%;
  height: 78px;
  padding-left: 16.25%;
  padding-bottom: 2px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color 0.15s ease;
}
#kaarija:hover {
  background-color: #e9e9e9;
}
#kaarija img {
  outline: blue 0.5px dotted;
  position: absolute;
  top: 10px;
  left: 8.6%;
  height: 60px;
  width: 60px;
}

#fiftyFiftyCupid {
  font-family: "Programme Regular", serif;
  outline: blue 0.5px dotted;
  position: absolute;
  top: 308px;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  width: 83.75%;
  height: 78px;
  padding-left: 16.25%;
  padding-bottom: 2px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color 0.15s ease;
}
#fiftyFiftyCupid:hover {
  background-color: #e9e9e9;
}
#fiftyFiftyCupid img {
  outline: blue 0.5px dotted;
  position: absolute;
  top: 10px;
  left: 8.6%;
  height: 60px;
  width: 60px;
}

#mathematicalDisrespect {
  font-family: "Programme Regular", serif;
  outline: blue 0.5px dotted;
  position: absolute;
  top: 385px;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  width: 83.75%;
  height: 78px;
  padding-left: 16.25%;
  padding-bottom: 2px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color 0.15s ease;
}
#mathematicalDisrespect:hover {
  background-color: #e9e9e9;
}
#mathematicalDisrespect img {
  outline: blue 0.5px dotted;
  position: absolute;
  top: 10px;
  left: 8.6%;
  height: 60px;
  width: 60px;
}

#yoasobi {
  font-family: "Programme Regular", serif;
  outline: blue 0.5px dotted;
  position: absolute;
  top: 462px;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  width: 83.75%;
  height: 78px;
  padding-left: 16.25%;
  padding-bottom: 2px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color 0.15s ease;
}
#yoasobi:hover {
  background-color: #e9e9e9;
}
#yoasobi img {
  outline: blue 0.5px dotted;
  position: absolute;
  top: 10px;
  left: 8.6%;
  height: 60px;
  width: 60px;
}

#iFeel {
  font-family: "Programme Regular", serif;
  outline: blue 0.5px dotted;
  position: absolute;
  top: 539px;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  width: 83.75%;
  height: 78px;
  padding-left: 16.25%;
  padding-bottom: 2px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color 0.15s ease;
}
#iFeel:hover {
  background-color: #e9e9e9;
}
#iFeel img {
  outline: blue 0.5px dotted;
  position: absolute;
  top: 10px;
  left: 8.6%;
  height: 60px;
  width: 60px;
}

#mahal {
  font-family: "Programme Regular", serif;
  outline: blue 0.5px dotted;
  position: absolute;
  top: 616px;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  width: 83.75%;
  height: 78px;
  padding-left: 16.25%;
  padding-bottom: 2px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color 0.15s ease;
}
#mahal:hover {
  background-color: #e9e9e9;
}
#mahal img {
  outline: blue 0.5px dotted;
  position: absolute;
  top: 10px;
  left: 8.6%;
  height: 60px;
  width: 60px;
}

#underYou {
  font-family: "Programme Regular", serif;
  outline: blue 0.5px dotted;
  position: absolute;
  top: 693px;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  width: 83.75%;
  height: 78px;
  padding-left: 16.25%;
  padding-bottom: 2px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color 0.15s ease;
}
#underYou:hover {
  background-color: #e9e9e9;
}
#underYou img {
  outline: blue 0.5px dotted;
  position: absolute;
  top: 10px;
  left: 8.6%;
  height: 60px;
  width: 60px;
}


#areaCodesAdditional-div-1 {
  font-family: "Programme Light", serif;
  outline: orange 1px dotted;
  position: absolute;
  left: 52.5%;
  top: 25px;
}
#cupidTWAdditional-div-1 {
  font-family: "Programme Light", serif;
  outline: orange 1px dotted;
  position: absolute;
  left: 52.5%;
  top: 22px;
}
#allMyLifeAdditional-div-1 {
  font-family: "Programme Light", serif;
  outline: orange 1px dotted;
  position: absolute;
  left: 52.5%;
  top: 25px;
}
#kaarijaAdditional-div-1 {
  font-family: "Programme Light", serif;
  outline: orange 1px dotted;
  position: absolute;
  left: 52.5%;
  top: 25px;
}
#fiftyFiftyCupidAdditional-div-1 {
  font-family: "Programme Light", serif;
  outline: orange 1px dotted;
  position: absolute;
  left: 52.5%;
  top: 25px;
}
#mathematicalDisrespectAdditional-div-1 {
  font-family: "Programme Light", serif;
  outline: orange 1px dotted;
  position: absolute;
  left: 52.5%;
  top: 25px;
}
#yoasobiAdditional-div-1 {
  font-family: "Programme Light", serif;
  outline: orange 1px dotted;
  position: absolute;
  left: 52.5%;
  top: 25px;
}
#iFeelAdditional-div-1 {
  font-family: "Programme Light", serif;
  outline: orange 1px dotted;
  position: absolute;
  left: 52.5%;
  top: 25px;
}
#mahalAdditional-div-1 {
  font-family: "Programme Light", serif;
  outline: orange 1px dotted;
  position: absolute;
  left: 52.5%;
  top: 25px;
}
#underYouAdditional-div-1 {
  font-family: "Programme Light", serif;
  outline: orange 1px dotted;
  position: absolute;
  left: 52.5%;
  top: 25px;
}



#areaCodesAdditional-div-2 {
  font-family: "Programme Light", serif;
  outline: indianred 1px dotted;
  position: absolute;
  left: 1.35%;
  top: 24.5px;
}
#cupidTWAdditional-div-2 {
  font-family: "Programme Light", serif;
  outline: indianred 1px dotted;
  position: absolute;
  left: 1.225%;
  top: 24.5px;
}
#allMyLifeAdditional-div-2 {
  font-family: "Programme Light", serif;
  outline: indianred 1px dotted;
  position: absolute;
  left: 1.225%;
  top: 24.5px;
}
#kaarijaAdditional-div-2 {
  font-family: "Programme Light", serif;
  outline: indianred 1px dotted;
  position: absolute;
  left: 1.15%;
  top: 24.5px;
}
#fiftyFiftyCupidAdditional-div-2 {
  font-family: "Programme Light", serif;
  outline: indianred 1px dotted;
  position: absolute;
  left: 1.15%;
  top: 24.5px;
}
#mathematicalDisrespectAdditional-div-2 {
  font-family: "Programme Light", serif;
  outline: indianred 1px dotted;
  position: absolute;
  left: 1.15%;
  top: 24.5px;
}
#yoasobiAdditional-div-2 {
  font-family: "Programme Light", serif;
  outline: indianred 1px dotted;
  position: absolute;
  left: 1.2%;
  top: 24.5px;
}
#iFeelAdditional-div-2 {
  font-family: "Programme Light", serif;
  outline: indianred 1px dotted;
  position: absolute;
  left: 1.15%;
  top: 24.5px;
}
#mahalAdditional-div-2 {
  font-family: "Programme Light", serif;
  outline: indianred 1px dotted;
  position: absolute;
  left: 1.15%;
  top: 24.5px;
}
#underYouAdditional-div-2 {
  font-family: "Programme Light", serif;
  outline: indianred 1px dotted;
  position: absolute;
  left: 0.75%;
  top: 24.5px;
}





#allmyLifeALLTIME {
  font-family: "Programme Regular", serif;
  outline: blue 0.5px dotted;
  position: absolute;
  top: 0;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  width: 83.75%;
  height: 78px;
  padding-left: 16.25%;
  padding-bottom: 2px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color 0.15s ease;
}
#allmyLifeALLTIME:hover {
  background-color: #e9e9e9;
}
#allmyLifeALLTIME img {
  outline: blue 0.5px dotted;
  position: absolute;
  top: 10px;
  left: 8.6%;
  height: 60px;
  width: 60px;
}





#chartsPlacementOne {
  background-color: #e9e9e9;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 1087px;
}
#chartsPlacementTwo {
  background-color: #e9e9e9;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 1164px;
}
#chartsPlacementThree {
  background-color: #e9e9e9;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 1241px;
}
#chartsPlacementFour {
  background-color: #e9e9e9;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 1318px;
}
#chartsPlacementFive {
  background-color: #e9e9e9;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 1395px;
}
#chartsPlacementSix {
   background-color: #e9e9e9;
   height: 2px;
   width: 100%;
   position: absolute;
   top: 1472px;
 }
#chartsPlacementSeven {
  background-color: #e9e9e9;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 1549px;
}
#chartsPlacementEight {
  background-color: #e9e9e9;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 1626px;
}
#chartsPlacementNine {
  background-color: #e9e9e9;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 1703px;
}
#chartsPlacementTen {
  background-color: #e9e9e9;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 1780px;
}


.large-button {
  height: 44px;
  position: absolute;
  background-color: white;
  font-family: "Programme Regular", serif;
  font-size: 14px;    /* Increase font size as needed */
  letter-spacing: 1px;
  top: 910px;
  z-index: 2;
  right: -1px;
  border: 2px solid black;
  border-bottom: transparent;


  transition: width 0.1s ease;
  border-bottom: 2px solid grey;
  justify-content: left;
  text-align: left;
  text-indent: 12.5px;
}

.selected {
  color: red;
}

.dropdown-content {
  width: 316px !important;
  right: -1px;
  position: absolute;
  background-color: #ffffff;
  border-top:  transparent;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;;
  min-width: 160px;
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  line-height: 26.5px;
  font-size: 14px;
  text-align: left;
  display: flex;  /* Use flexbox */
  flex-wrap: nowrap;  /* Prevent columns from wrapping to the next line */

  top: 964px;

  height: 0;
  overflow: hidden;
  transition: height 0.1s ease;
}

#typeAIOHeading {
  outline: #6E6E74FF 2px dotted;
  width: 45px
}
#genreAIOHeading {
  outline: #6E6E74FF 2px dotted;
  width: 45px
}
#timeAIOHeading {
  outline: #6E6E74FF 2px dotted;
  width: 45px
}

.dropdown-column1 {
  float: none;  /* Remove float */
  width: 278px;
  padding-left: 19px;

}
.dropdown-column2 {
  float: none;  /* Remove float */
  width: 278px;
  padding-left: 19px;

}
.dropdown-column3 {
  float: none;  /* Remove float */
  width: 278px;
  padding-left: 19px;

}

.dropdown-option {
  padding: 5px 0;
  cursor: pointer;
}

h3 {
  margin-top: 0;
}


.expanded {
  width: 320px !important;
}

.width-today {
  width: 278px;
}
.width-week {
  width: 308px;
}

.width-month {
  width: 320px;
}

.width-allTime {
  width: 294px;
}



#directionalArrow {
  width: 15px;
  height: 7px;
  position: absolute;
  right: 12px;
  top: 928.5px;
  z-index: 3;
  transition: transform 1s;
}

#directionalArrow {
  transition: transform .4s !important;
}
.flipped {
  transform: scaleY(-1);
}

.width-TEST {
  width: 594px !important;
}



#blackSpace {
  outline: 12px #ce0b2d dotted;
  background-color: #121212;
  position: absolute;
  top: 1935px;
  width: 8000px;
  height: 865px;

}

#blackBoxVideos {
  outline: #40d5ba 1px dotted;
  font-family: "Programme Bold", serif;
  font-size: 80px;
  color: white;
  letter-spacing: 1.8px;
  position: relative;
  top: 83px;
  left: 0px;
  margin: 0;
  padding: 0; /* Remove padding */
  line-height: 59px; /* Set line-height equal to font-size or adjust as needed */
}

#geniusOriginalSeries {
  outline: #ffffff 1px dotted;
  font-family: "Programme Regular", serif;
  font-size: 13.3px;
  left: 0px;
  color: #fdfd63;
  letter-spacing: 1.4px;
  position: relative;
  top: 106px;
  line-height: 11px; /* Set line-height equal to font-size or adjust as needed */

}

 #originalSeriesPicture {
   text-decoration: none;
   outline: #0ae50a 1px dotted;
   position: relative;
   height: 495px;
   width: 876px;
}



#playButton {
  outline: #0ae50a 5px dotted;
  position: relative;
  left: 398px;
  top: -75px;
  height: 47px;
  width: 47px;

}


#originalSeriesWritingBox {
  outline: #95ef95 1px dotted;
  width: 250px;
  height: 495px;
}

#originalSeriesWritingBoxLink{
  outline: hotpink 1px solid;
  position: absolute;
  top: 220px;
  width: 250px;
  left: 4342px;
  right: 4380px;
}

#originalSeriesWritingBox:hover #originalSeriesNewsHeadline  {
  text-decoration: underline;
  text-decoration-thickness: 1px;

}

#whiteLine {
  outline: #40d5ba 1px dotted;
  position: relative;
  height: 2px;
  width: 250px;
  background-color: white;
}

#originalSeriesNewsHeadline {
  outline: purple 1px dotted;
  color: white;
  font-size: 24px;
  width: 202px;
  position: absolute;
  text-align: left;
  line-height: 28px;
  top: 65px;
}

#originalSeriesNewsDescription {
  outline: royalblue 1px dotted;
  color: white;
  font-size: 16px;
  position: absolute;
  text-align: left;
  line-height: 18px;
  top: 155px;
  width: 100.5%;
}

#openMic {
  outline: #40d5ba 1px dotted;
  position: absolute;
  left: 1px;
  top: 18px;
}

#originalSeriesReporter {
  outline: pink 1px dotted;
  font-size: 12px;
  color: white;
  position: absolute;
  top: 208px;

}

#originalSeriesDate {
  outline: hotpink 1px dotted;
  font-size: 12px;
  color: grey;
  left: 111px;
  position: absolute;
  top: 208px;

}

#hyperLink{
  text-decoration: none;
  outline: hotpink 1px solid;
  display: inline-block;
  position: relative;
  top: 150px;
  left: -156px;
  height: 495px;
  width: 876px;
}




#latestBlock{
  outline: greenyellow 5px dotted;
  top: 2800px;
  height: 1465px;
  width: 100%;
  position: absolute;

}

#largeLatest {
  outline: #40d5ba 1px dotted;
  font-family: "Programme Bold", serif;
  font-size: 80px;
  color: black;
  letter-spacing: 2px;
  position: relative;
  top: 85px;
  margin: 0;
  padding: 0; /* Remove padding */
  line-height: 59px; /* Set line-height equal to font-size or adjust as needed */
}

#redRecentNews{
  outline: #40b5ba 1px dotted;
  color: #ff1464;
  font-size: 13.25px;
  position: relative;
  top: 105px;
  font-family: "Programme Regular", serif;
  letter-spacing: 1.4px;

}


#latestNewsStoryONE {
  position: absolute;
  outline: red 1px solid;
  left: -2px;
  width: 250px;
  height: 370px;
  top: 217px;
}
#newsOne {
  color: black;
  font-family: "Programme Regular", serif;
  font-size: 11.5px;
  position: absolute;
  top: 5px;
  letter-spacing: 1.25px;
}
#blackBarLatestNewsOne{
  background-color: black;
  height: 2px;
  width: 205px;
  border-left: 1.5px solid black;
  position: absolute;
  top: 10px;
  left: 45px;
}
#latestStoreOne {
  width: 253px;
  height: 142px;
  top: 26px;
  position: relative;
}
#latestNewsHeadlineOne{
  font-family: "Programme Light", serif;
  font-size: 20.5px;
  padding-top: 27px;
  text-align: left;
  position: absolute;
  letter-spacing: 0.26px;
  line-height: 24px;
  color: black;
}
#latestNewsAuthorOne{
  font-size: 12px;
  position: absolute;
  top: 270px;

}
#latestNewsDateOne{
  font-size: 12px;
  position: absolute;
  top: 270px;
  left: 100px;
  color: #9a9a9a;
}
#latestNewsStoryONE:hover #latestNewsHeadlineOne {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}





#latestNewsStoryTWO{
  position: absolute;
  outline: #0059ff 5px solid;
  left: 310px;
  width: 250px;
  height: 370px;
  top: 216px;
}
#newsTwo {
  color: black;
  font-family: "Programme Regular", serif;
  font-size: 11.5px;
  position: absolute;
  top: 5px;
  letter-spacing: 1.25px;
}
#blackBarLatestNewsTwo{
  background-color: black;
  height: 2px;
  width: 205px;
  border-left: 1.5px solid black;
  position: absolute;
  top: 10px;
  left: 45px;
}
#latestStoreTwo {
  width: 253px;
  height: 142px;
  top: 26px;
  position: relative;
}
#latestNewsHeadlineTwo{
  font-family: "Programme Light", serif;
  font-size: 20.5px;
  padding-top: 27px;
  text-align: left;
  position: absolute;
  letter-spacing: 0.26px;
  line-height: 24px;
  color: black;
}
#latestNewsAuthorTwo{
  font-size: 12px;
  position: absolute;
  top: 363px;

}
#latestNewsDateTwo{
  font-size: 12px;
  position: absolute;
  top: 363px;
  left: 65px;
  color: #9a9a9a;
}
#latestNewsStoryTWO:hover #latestNewsHeadlineTwo {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
#presentedByTwoText {
  font-family: "Programme Regular", serif;
  font-size: 12.25px;
  color: #9a9a9a;
  height: 55px;
  width: 100px;
  position: relative;
  top: 118px;
  left: -2px;
  letter-spacing: 0.8px;

}
#presentedByTwoImg {
  height: 40px;
  width: 60px;
  position: relative;
  top: 90px;
  left: -90px;

}

















#latestNewsStoryTHREE{
  position: absolute;
  outline: red 5px solid;
  left: 620px;
  width: 250px;
  height: 370px;
  top: 216px;
}









#latestNewsStoryFOUR{
  position: absolute;
  outline: #0059ff 5px solid;
  left: 930px;
  width: 250px;
  height: 370px;
  top: 216px;
}
#newsFour {
  color: black;
  font-family: "Programme Regular", serif;
  font-size: 11.5px;
  position: absolute;
  top: 5px;
  letter-spacing: 1.25px;
  left: 5px;
}
#blackBarLatestNewsFour{
  background-color: black;
  height: 2px;
  width: 205px;
  border-left: 1.5px solid black;
  position: absolute;
  top: 10px;
  left: 50px;

}
#latestStoreFour {
  width: 250px;
  height: 142px;
  top: 26px;
  position: relative;
  left: 5px;
}
#latestNewsHeadlineFour{
  font-family: "Programme Light", serif;
  font-size: 20.5px;
  padding-top: 27px;
  text-align: left;
  position: absolute;
  letter-spacing: 0.26px;
  line-height: 24px;
  color: black;
  left: 5px;
}
#latestNewsAuthorFour{
  font-size: 12px;
  position: absolute;
  top: 317px;
  left: 5px;
}
#latestNewsDateFour{
  font-size: 12px;
  position: absolute;
  top: 317px;
  left: 105px;
  color: #9a9a9a;
}
#latestNewsStoryFOUR:hover #latestNewsHeadlineFour {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}













#latestNewsStoryFIVE {
  position: absolute;
  outline: red 5px solid;
  left: 0;
  width: 250px;
  height: 370px;
  top: 631px;
}

#latestNewsStorySIX{
  position: absolute;
  outline: #0059ff 5px solid;
  left: 310px;
  width: 250px;
  height: 370px;
  top: 631px;
}

#latestNewsStorySEVEN{
  position: absolute;
  outline: red 5px solid;
  left: 620px;
  width: 250px;
  height: 370px;
  top: 631px;
}





#latestNewsStoryEIGHT{
  position: absolute;
  outline: #0059ff 5px solid;
  left: 930px;
  width: 250px;
  height: 370px;
  top: 631px;
}
#newsEight {
  color: black;
  font-family: "Programme Regular", serif;
  font-size: 11.5px;
  position: absolute;
  top: 5px;
  letter-spacing: 1.25px;
  left: 5px;
}
#blackBarLatestNewsEight{
  background-color: black;
  height: 2px;
  width: 205px;
  border-left: 1.5px solid black;
  position: absolute;
  top: 10px;
  left: 50px;

}
#latestStoreEight {
  width: 250px;
  height: 142px;
  top: 26px;
  position: relative;
  left: 5px;
}
#latestNewsHeadlineEight{
  font-family: "Programme Light", serif;
  font-size: 20.5px;
  padding-top: 27px;
  text-align: left;
  position: absolute;
  letter-spacing: 0.26px;
  line-height: 24px;
  color: black;
  left: 5px;
}
#latestNewsAuthorEight{
  font-size: 12px;
  position: absolute;
  top: 290px;
  left: 5px;
}
#latestNewsDateEight{
  font-size: 12px;
  position: absolute;
  top: 290px;
  left: 105px;
  color: #9a9a9a;
}
#latestNewsStoryEIGHT:hover #latestNewsHeadlineEight {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}














@media (max-width: 960px) {
  #containerOneMain  {
    outline: #dfce0b dashed 1px;
    font-family: "Programme Light", serif;
    font-size: 38px;
    position: absolute;
    left: 12.5%;
    transform: translateX(-12.5%);
    width: 50%;
    top: 150px;
    height: 100%;
    word-break: break-word;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 1185px;
  }



  #textContainerOne {
    outline: blue dashed 1px;
    font-size: 36px;
    position: absolute;
    left: 0;

    top: 32px;
    word-break: break-word;
    line-height: 41.2px;
    width: 62.5%;
    background-color: white;
  }



  #newsLineOne {

  outline: green dotted 2px;
  font-family: "Programme Regular", serif;
  line-height: 12px;
  font-size: 12px;
  top: 4px;
  width: 62.2%;
  padding-top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  position: absolute;
  left: -0.1%;
  transform: translateX(-0);
  letter-spacing: 0.88px;
  }



  #featured {
    position: absolute;
    left: 21.8%;
    transform: translateX(-21.8%);
  }

  #separatorOne {
    position: absolute;
    left: 31.75%;
    transform: translateX(-31.8%);
    color: white;
    font-weight: 500;
    font-size: 15px;
  }



  #charts {
    font-weight: 525;
    font-size: 14.1px;
    letter-spacing: 0.95px;
    position: absolute;
    left: 37.9%;
    transform: translateX(-37.9%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Programme Regular", serif;
    color: white;
    text-decoration: none;
  }
  #separatorTwo {
    position: absolute;
    left: 45.45%;
    transform: translateX(-45.45%);
    color: white;
    font-weight: 500;
    font-size: 15px;
  }


  #videos {
    font-weight: 525;
    font-size: 14.1px;
    letter-spacing: 0.95px;
    position: absolute;
    left: 52.2175%;
    transform: translateX(-52.2175%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Programme Regular", serif;
    color: white;
    text-decoration: none;
  }
  #separatorThree {
    position: absolute;
    left: 58.75%;
    transform: translateX(-58.75%);
    font-weight: 500;
    font-size: 15px;
  }

  #promoteYourMusic {
    font-weight: 525;
    font-size: 14.1px;
    letter-spacing: 0.95px;
    position: absolute;
    left: 75.72%;
    transform: translateX(-75.72%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Programme Regular", serif;
    color: white;
    text-decoration: none;
  }

  #separatorFour {
    position: absolute;
    left: 111%;
    transform: translateX(-111%);
    color: white;
    font-weight: 500;
    font-size: 15px;
  }

  #imageID1 {
    position: absolute;
    top: 4px;
    left: 78.4%;
    height: 261.4px;
    width: 464px;
    cursor: pointer;

  }


}
